
@{
    ViewData["Title"] = "DetailsDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 992px) {
        .col-md-8 {
            width: 65.666667%;
        }

        .w70 {
            float: right;
        }
    }
</style>
<div class="pt50 grid w90 mlra">
    <div class="col-md-8 col-sm-8 col-xs-12 fni pr35">
        <h1 class="db fwb mc1 pb15 ttu pb10 bb1 lh12 bss bcd fs15 fs12-xs">
            Dịch vụ thay người thân chăm sóc phần mộ
        </h1>
        <div class="grid">
            <div class="c9 mt10 mr15">Dịch vụ</div>
            <div class="c9 mt10">15 / 12 / 2019</div>
        </div>
        <div class="ptb25 grid">
            <a href="/a/50541/Tao-mo-online-dip-Tet-Thanh-minh-no-ro"
               class="w33 plr15 vat bấmĐc db pr" id="50541">
                <div class="pb169 w1 ảnh"
                     style="background: url(&quot;/upload/cung-gio3-1585235667-965-width600height360jpeg.jpg&quot;) center center / cover;">
                </div>
                <div class="pt5 tduh fs09 tduh chữ">Tảo mộ online dịp Tết Thanh…</div>
            </a><a href="/a/50340/Tranh-tu-tap-dong-nguoi-vi-COVID-19-con-chau-tao-mo-online-dip-Tet-Thanh-Minh"
                   class="w33 plr15 vat bấmĐc db pr" id="50340">
                <div class="pb169 w1 ảnh"
                     style="background: url(&quot;https://i1.wp.com/ss-images.catscdn.vn/wp700/2020/03/28/7248361/ung-345.jpg&quot;) center center / cover;">
                </div>
                <div class="pt5 tduh fs09 tduh chữ">Tránh tụ tập đông người vì…</div>
            </a><a href="/a/50339/Cung-Tet-thanh-minh-Online-de-phong-chong-dich-Covid-19"
                   class="w33 plr15 vat bấmĐc db pr" id="50339">
                <div class="pb169 w1 ảnh"
                     style="background: url(&quot;/upload/lac-hong-viendocx-1585379827471png.jpg&quot;) center center / cover;">
                </div>
                <div class="pt5 tduh fs09 tduh chữ">Cúng Tết thanh minh Online để…</div>
            </a>
        </div>
        <div class="fs12 lh15" style="text-align:justify">
            <p style="text-align: justify;">
                Để có được sự xanh tươi, sạch sẽ và tươi tắn của các khuôn viên phần mộ
                là biết bao giọt mồ hôi đã đổ xuống, là bao nhiêu sự tận tâm chăm sóc của bộ phận hậu cần “thay
                người thân chăm sóc khuôn viên phần mộ” của&nbsp;<a href="http://g.page/congviennghiatranglachongvien">Lạc Hồng Viên</a>.
            </p>
            <p>
                <mp4 id="UxL1XMVBf0A" class="bấmĐc db bgsc bgpc pb169e w1a20 mtb15"
                     style="background-image: url(&quot;https://i3.wp.com/i.ytimg.com/vi/UxL1XMVBf0A/0.jpg?resize=1132,625&amp;quality=100&quot;), url(&quot;https://i2.wp.com/lachongvien.inevn.com/img/foot1.jpg?w=1132&amp;quality=100&quot;);">
                </mp4>
            </p><strong>
                <h2 style="text-align: justify;" class="mt15 mb10">
                    <strong>
                        Dịch vụ chăm sóc khuôn viên phần mộ tại
                        Lạc Hồng Viên
                    </strong>
                </h2>
            </strong>
            <p style="text-align: justify;">
                Với dịch vụ “thay người thân&nbsp;<strong>chăm sóc phần mộ</strong>” tại
                <a href="https://lachongvien.vn">Lạc Hồng Viên</a>, tất cả các phần mộ và&nbsp;<strong>
                    khuôn viên
                    phần mộ
                </strong>&nbsp;người thân của Quý khách hàng sẽ được chăm sóc định kỳ một cách chu đáo,
                tận tâm và chuyên nghiệp (tưới cây, cắt cỏ, lau chùi phần mộ …), được thắp hương tất cả các ngày
                Rằm, Mùng một và Lễ Tết theo phong tục tập quán của người dân Việt Nam.
            </p>
            <p style="text-align: justify;">
                Việc kính trọng, &nbsp;phụng dưỡng Cha Mẹ khi còn sống đã vô cùng quan
                trọng, nhưng việc chăm sóc, hương khói cho phần mộ khi Cha Mẹ khuất núi cũng cần thiết không kém.
                Bởi nó không những giúp các đáng sinh thành được bình an yên nghỉ mà còn giúp những người con được
                thanh thản vì đã làm trọn chữ hiếu.
            </p>
            <p style="text-align: justify;">
                Người Việt ta tin rằng&nbsp;<strong>“trần sao âm vậy”</strong>, khi sống
                ai cũng mong được ở trong một ngôi nhà rộng rãi, thoáng mát, sạch sẽ nên người mất cũng mong muốn
                mình được an táng ở một nơi như vậy. Nhờ vậy người đã khuất cũng được thanh thản nơi chín suối và
                tỏa phúc lộc cho con cháu trên dương trần. Và vì thế, việc chăm sóc phần mộ được người Việt vô cùng
                coi trọng.
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/IMG_3579.jpg"
                     alt="lac hong vien, lạc hồng viên, dịch vụ chăm sóc khuôn viên phần mộ" height="auto"
                     class="w1 bgso bgrn bgpc mtb15 hai">
            </p>
            <p style="text-align: justify;">
                Tuy nhiên, việc&nbsp;<strong>chăm sóc phần mộ</strong>&nbsp;Cha Mẹ sẽ
                không thể thường xuyên bởi khoảng cách quá xa hoặc thời gian quá hạn hẹp. Với dịch vụ “thay người
                thân chăm sóc phần mộ” tại Lạc Hồng Viên, tất cả các phần mộ và khuôn viên phần mộ người thân của
                Quý khách hàng sẽ được chăm sóc định kỳ một cách chu đáo, tận tâm và chuyên nghiệp (tưới cây, cắt
                cỏ, lau chùi phần mộ …), được thắp hương tất cả các ngày Rằm, Mùng một và Lễ Tết theo phong tục tập
                quán của người dân Việt Nam. Đặt chữ&nbsp;<strong>“Tâm”</strong>&nbsp;lên đầu, các nhân viên chăm
                sóc phần mộ tại&nbsp;<strong>Lạc Hồng Viên</strong>&nbsp;đều được lựa chọn, hướng dẫn và đào tạo cẩn
                thận nhất, coi những phần mộ của thân nhân khách hàng như người thân của mình, mang lại một chất
                lượng dịch vụ tận tâm, chu đáo và chuyên nghiệp nhất.&nbsp;Ngoài ra, dịch vụ thay người thân chăm
                sóc phần mộ còn đáp ứng tất cả các yêu cầu riêng, đặc biệt khác khi Quý khách hàng có nhu cầu.
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/_MG_1981.jpg"
                     alt="lac hong vien, lạc hồng viên, dịch vụ chăm sóc khuôn viên phần mộ 1" height="auto"
                     class="w1 bgso bgrn bgpc mtb15 hai">
            </p>
            <p style="text-align: justify;">
                Dịch vụ&nbsp;<strong>Chăm sóc phần mộ</strong>&nbsp;của <a href="https://lachongvien.vn">Công viên Nghĩa trang Lạc Hồng Viên</a> cũng như các dịch vụ khác
                như:&nbsp;<strong>Dịch vụ thiết kế mộ</strong>,&nbsp;<strong>
                    thẩm mỹ cho người
                    mất
                </strong>,&nbsp;<strong>bảo quản tro cốt</strong>,…được Ban Quản lý và các nhân viên thực
                hiện bằng chính cái&nbsp;<strong>“tâm”</strong>&nbsp;của mình. Không chỉ vì
                chữ&nbsp;<strong>“duyên”</strong>&nbsp;với nghề mà chúng tôi còn hiểu rằng đời sống tâm linh của mỗi
                người là vô cùng quan trọng, nó giúp những người còn sống tích đức, tích thiện, tích phúc để sống
                tốt hơn với đời.
            </p>
            <p style="text-align: justify;">
                Dưới đây là những hình ảnh về&nbsp;<strong>
                    dịch vụ chăm sóc khuôn viên
                    phần mộ
                </strong>&nbsp;tại&nbsp;<strong>Lạc Hồng Viên</strong>:
            </p>
            <p style="text-align: justify;">
                <a href="http://lachongvien.com/">
                    <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/IMG_3625.jpg"
                         alt="lạc hồng viên, lac hong vien, dịch vụ chăm sóc khuôn viên phần mộ" height="auto"
                         class="w1 bgso bgrn bgpc mtb15 hai">
                </a>
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/2(1).jpg"
                     alt="lạc hồng viên, lac hong vien, dich vu cham soc khuon vien phan mo"
                     class="w1 bgso bgrn bgpc mtb15 hai" height="auto">
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/IMG_4436.jpg"
                     alt="lac hong vien, lạc hồng viên, dich vu cham soc khuon vien phan mo" height="auto"
                     class="w1 bgso bgrn bgpc mtb15 hai">
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/IMG_4332.jpg"
                     alt="lạc hồng viên, lac hong vien, dịch vụ chăm sóc khuôn viên phần mộ 2" height="auto"
                     class="w1 bgso bgrn bgpc mtb15 hai">
            </p>
            <p style="text-align: justify;">
                <img src="https://i2.wp.com/lachongvien.com/wp-content/uploads/2017/05/IMG_0313.jpg"
                     alt="lac hong vien, lạc hồng viên, dịch vụ chăm sóc khuôn viên phần mộ" height="auto"
                     class="w1 bgso bgrn bgpc mtb15 hai">
            </p>
            <div><b>Các dịch vụ hiện có tại Lạc Hồng Viên:</b></div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/43478/Dich-vu-thiet-ke-xay-dung-phan-mo-va-khuon-vien-canh-quan-cua-Lac-Hong-Vien">
                    Dịch
                    vụ thiết kế xây dựng phần mộ và khuôn viên cảnh quan
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/44857/Xe-tham-quan-mien-phi-len-Cong-vien-Tam-linh-Lac-hong-Vien">
                    Xe
                    thăm quan miễn phí lên Lạc Hồng Viên
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46723/Dich-vu-thay-nguoi-than-cham-soc-phan-mo">
                    Dịch vụ thay
                    người thân chăm sóc phần mộ
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46716/Dich-vu-trang-diem-tham-my-cho-nguoi-mat-truoc-khi-kham-niem">
                    Dịch
                    vụ trang điểm, thẩm mỹ cho người mất trước khi khâm niệm
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/43488/Dich-vu-cung-gio-Online">
                    Dịch vụ cúng giỗ
                    online
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/43486/Dich-vu-ban-dat-mo-theo-tung-loai">
                    Dịch vụ
                    bán đất mộ theo từng loại
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46721/Dich-vu-bao-quan-xac-nguoi-mat-cho-nguoi-than-ve-cho-gio-dep">
                    Dịch
                    vụ bảo quản xác người mất
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46719/Dich-vu-luu-tru-va-bao-quan-Tro-Cot-nguoi-mat-tai-Lac-Hong-Vien">
                    Dịch
                    vụ lưu trữ và bảo quản tro cốt
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46717/Dich-vu-Cau-Sieu-cua-Lac-Hong-Vien">
                    Dịch vụ
                    cầu siêu
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/44858/Dich-vu-cau-an-tai-Cong-vien-Tam-linh-Lac-Hong-Vien">
                    Dịch
                    vụ cầu an
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/43487/Dich-vu-Mai-tang-Cai-tang-cua-Lac-Hong-Vien">
                    Dịch vụ mai
                    táng, cải táng
                </a>
            </div>
            <div>
                <b>-&nbsp;</b><a href="https://lachongvien.vn/a/46722/Dich-vu-cho-nguoi-than-nghi-ngoi-an-uong-tham-quan">
                    Dịch vụ
                    cho người thân
                </a>
            </div>
            <div>
                <b>-</b><a href="https://lachongvien.vn/a/43593/Dich-vu-van-chuyen-mo-tu-noi-khac-den-Lac-Hong-Vien">
                    Dịch
                    vụ vận chuyển mộ từ nơi khác đến
                </a>
            </div>
        </div>
        <div class="ptb35">
            <div class="bss bcd bb1 pb10 mc1 fs15 fs12-xs mc1">Bài viết liên quan</div>
            <div class="grid mt25">
                <a href="/a/46842/Khuon-vien-mau-mo-Gia-toc" class="w33 plr15 vat bấmĐc">
                    <div class="pb169"
                         style="background: url(&quot;https://i2.wp.com/cdn.inevn.com/temp/24_4e743ee54d80b57ca819fd67481786f1.isij?w=300&amp;quality=100&quot;) center center / cover;">
                    </div>
                    <div class="mt5 tduh fs09">Khuôn viên mẫu mộ Gia tộc</div>
                </a><a href="/a/46840/Mo-gia-dinh-lon" class="w33 plr15 vat bấmĐc">
                    <div class="pb169"
                         style="background: url(&quot;https://i3.wp.com/cdn.inevn.com/temp/24_c42251ec7ecf1e126858028e7a3bffc4.isij?w=300&amp;quality=100&quot;) center center / cover;">
                    </div>
                    <div class="mt5 tduh fs09">Mộ gia đình lớn</div>
                </a><a href="/a/46837/Mo-gia-dinh-nho" class="w33 plr15 vat bấmĐc">
                    <div class="pb169"
                         style="background: url(&quot;https://i2.wp.com/lachongvien.vn/wp-content/uploads/2017/05/IMG_7650.jpg?w=300&amp;quality=100&quot;) center center / cover;">
                    </div>
                    <div class="mt5 tduh fs09">Mộ gia đình nhỏ</div>
                </a>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="fs2 pb15 bss bcd bb1 mc1">Bình luận</div>
                <div class="fs09 ptb10 c6 pl10 dn">Khách hàng cần đăng nhập để sử dụng chức năng bình luận</div>
                <div class="">
                    <input class="w80 plr10 ptb5 ml10 mt10 bss bcd bw1 tenkhach1"
                           placeholder="Tên khách hàng"><input class="w80 plr10 ptb5 ml10 mt10 bss bcd bw1 emailkhach1"
                                                               placeholder="Email khách hàng">
                </div><textarea class="w80 pl10 ml10 binhluan mt15 h100 bcd"></textarea>
                <div class="grid bấmĐc vat ml10">
                    <div class="bg1 cf bra3 pa5 mt15">Gửi bình luận</div>
                </div>
            </div>
            <div class="pt25">
                <div class="blGhim pb25"></div>
            </div>
        </div>
    </div>
    <div class="vmlq col-md-4 col-sm-4 col-xs-12 fni tac vat pr plr10">
        <div class="phầnfix">
            <div class="pb169 bgsc bgpc bgrn pr" style="background-image: url(&quot;/img/toancanh.jpg&quot;);">
            </div>
            <div class="">
                <div class="grid tac mc1 fs12 fs09-xs pt10 pb5">
                    <div class="bg1 cf w50 ptb5 brbl3 brtl3 tab bấmĐc">Tin đọc nhiều nhất </div>
                    <div class="bgcfx c6 w50 ptb5 brtr3 brbr3 tab bấmĐc">Bài viết liên quan </div>
                </div>
                <div class="tal">
                    <div class="">
                        <a href="/a/49736/cac-ngay-le-dac-biet-tai-chua-Kim-Son-Lac-Hong-nam-2020"
                           class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/43890.200x.isij&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">
                                    Lịch tổ chức các ngày lễ đặc biệt tại chùa Kim Sơn Lạc Hồng
                                    năm 2020
                                </div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 09/03/2020</div>
                            </div>
                        </a><a href="/a/47647/Xem-tuoi-boc-mo" class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/39355.200x.isij&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">Xem tuổi bốc mộ</div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 31/12/2019</div>
                            </div>
                        </a><a href="/a/46475/Xe-tham-quan-mien-phi-len-Cong-vien-Tam-linh-Lac-hong-Vien"
                               class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/42855.200x.isij&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">
                                    Xe thăm quan miễn phí lên Công viên Tâm linh Lạc hồng Viên
                                </div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 29/05/2017</div>
                            </div>
                        </a>
                    </div>
                    <div class="dn">
                        <a href="/a/46716/Dich-vu-trang-diem-tham-my-cho-nguoi-mat-truoc-khi-kham-niem"
                           class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://i2.wp.com/lachongvien.vn/wp-content/uploads/2017/05/phu-nu-today-nghe-trang-diem-cho-xac-chet-3(1).jpg&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">
                                    Dịch vụ trang điểm, thẩm mỹ cho người mất trước khi khâm niệm
                                </div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 11/12/2019</div>
                            </div>
                        </a><a href="/a/43488/Dich-vu-cung-gio-Online" class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/33382.200x.isij&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">Dịch vụ cúng giỗ Online</div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 09/12/2019</div>
                            </div>
                        </a><a href="/a/43486/Dich-vu-ban-dat-mo-theo-tung-loai" class="grid ptb10 db">
                            <div class="w30">
                                <div class="w1 pb169 bấmĐc"
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/33356.200x.isij&quot;) center center / cover;">
                                </div>
                            </div>
                            <div class="w70 plr10 vat oh bấmĐc">
                                <div class="fwb mc1h">Dịch vụ bán đất mộ theo từng loại</div>
                                <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 06/12/2019</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

