
@{
    ViewData["Title"] = "PostCatalogV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        @@media (min-width: 992px) {
            .col-md-8 {
                width: 65.666667%;
            }
            .w70 {
                float:right;
            }
        }
    </style>
<div id="body" class="bgcf">
    <div class="ptb35 w80 mlra">
        <div class="fs2 ttu fs13-xs mc1 lh1 tac">tin tức</div>
        <div class="divider green"></div>
        <div class="col-md-8 col-sm-8 col-xs-12 fni pr35 dib ">
            <div class="pr listbài">
                <a id="49736"
                   href="/a/49736/cac-ngay-le-dac-biet-tai-chua-Kim-Son-Lac-Hong-nam-2020"
                   class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://cdn.inevn.com/img/thumb/43890.500x.isij&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">
                            Lịch tổ chức các ngày lễ đặc biệt tại chùa Kim Sơn Lạc Hồng
                            năm 2020
                        </div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">10:52:23 09/03/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Chùa Kim Sơn Lạc Hồng trân trọng thông báo
                            lịch tổ chức các ngày lễ đặc biệt trong năm 2020: Lễ Thanh Minh, Lễ Phật Đản, Vu Lan Báo
                            Hiếu, lễ vía đức…
                        </div>
                    </div>
                </a><a id="46475" href="/a/46475/Xe-tham-quan-mien-phi-len-Cong-vien-Tam-linh-Lac-hong-Vien"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;http://lachongvien.vn/wp-content/uploads/2017/05/xe%20dua%20don%20khac%20tham%20quan.jpg&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">
                            Xe thăm quan miễn phí lên Công viên Tâm linh Lạc hồng Viên
                        </div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">08:24:02 29/05/2017</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Hàng tuần, Lạc Hồng Viên tổ chức xe đưa khách
                            hàng đi thăm quan&nbsp;dự án Công viên Nghĩa trang&nbsp;Lạc Hồng Viên, quý khách có thể đăng
                            ký thăm quan miễn…
                        </div>
                    </div>
                </a><a id="48472" href="/a/48472/Tiec-Khai-Xuan-tai-Cong-ty-CP-DTXDTM-Toan-Cau"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://cdn.inevn.com/img/thumb/41834.500x.isij&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">Tiệc Khai Xuân tại Công ty CP ĐTXD&amp;TM Toàn Cầu</div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">09:47:16 31/01/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Ngày 30/01/2020 tức ngày mùng 5 tháng 1 năm
                            Canh Tý, tại Công ty CP ĐTXD&amp;TM Toàn Cầu, số 683 Lạc…
                        </div>
                    </div>
                </a><a id="48187" href="/a/48187/Thong-bao-lich-nghi-tet-Canh-Ty-2020" class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://cdn.inevn.com/img/thumb/41099.500x.isij&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">Thông báo lịch nghỉ tết Canh Tý 2020</div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">10:28:02 15/01/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Kính gửi: Quý khách hàng!Công ty Cp Đầu tư
                            XD&amp;TM Toàn Cầu xin trân trọng thông báo về lịch nghỉ Tết Nguyên Đán Canh Tý năm 2020
                            như…
                        </div>
                    </div>
                </a><a id="48142"
                       href="/a/48142/Nguoi-Ha-Noi-sam-dao-quat-dua-con-chau-len-Hoa-Binh-tao-mo-moi-gia-tien-ve-an-Tet"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://ss-images.catscdn.vn/wp700/2020/01/13/6813869/nha-1.jpg&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">
                            Người Hà Nội sắm đào quất đưa con cháu lên Hòa Bình tảo mộ,
                            mời gia tiên về ăn…
                        </div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">14:27:10 13/01/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">Monday,January 13,2020 2:27 PM</div>
                    </div>
                </a><a id="47964" href="/a/47964/Chuong-trinh-Tet-tren-Lac-Hong-Vien" class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://cdn.inevn.com/img/thumb/39999.500x.isij&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">Chương trình "Tết trên Lạc Hồng Viên"</div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">10:24:36 08/01/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Ban Lãnh đạo Công ty Cổ phần Đầu tư Xây dựng
                            và Thương mại Toàn Cầu quyết định tổ chức chương trình “Tuần lễ tảo mộ tại Công viên Tâm
                            linh Lạc Hồng…
                        </div>
                    </div>
                </a><a id="47963" href="/a/47963/Thu-moi-du-Le-ho-Than-an-vi-Tuong-A-DI-Da-Le-ta-cuoi-nam"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://cdn.inevn.com/img/thumb/39996.500x.isij&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">
                            Thư mời dự Lễ hô Thần an vị Tượng A DI Đà | Lễ tạ cuối năm
                        </div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">10:19:46 08/01/2020</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Thư mời dự Đại lễ hô Thần an vị Tượng A Di Đà
                            tại chùa Kim Sơn Lạc Hồng, xã Dân Hòa, huyện Kỳ Sơn, tỉnh Hòa Bình
                        </div>
                    </div>
                </a><a id="46640" href="/a/46640/Gan-30-hoc-sinh-tieu-bieu-len-vieng-mo-thay-Van-Nhu-Cuong"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;http://lachongvien.vn/wp-content/uploads/2019/11/20-11-28-min.jpg&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">
                            Gần 30 học sinh tiêu biểu lên viếng mộ thầy Văn Như Cương
                        </div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">07:38:01 13/11/2019</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Thầy và trò học sinh trường Lương Thế Vinh
                            tới dâng hương tưởng nhớ cố Phó giáo sư - Nhà giáo Văn Như…
                        </div>
                    </div>
                </a><a id="46639" href="/a/46639/Dung-nha-tranh-vach-dat-tren-chua-Kim-Son-Lac-Hong"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;https://i2.wp.com/lachongvien.vn/wp-content/uploads/2019/10/DSC01501.jpg&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">Nhà tranh vách đất của đồng bằng Bắc bộ xưa</div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">03:34:04 26/10/2019</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">Saturday,October 26,2019 3:34 AM</div>
                    </div>
                </a><a id="46631" href="/a/46631/Gan-5-ta-ca-Coi-duoc-tha-tai-Ho-Quan-Am-Tam-Dien"
                       class="tintuc grid ptb15 db">
                    <div class="w30">
                        <div class="w1 pb169 bgcfx"
                             style="background: url(&quot;http://lachongvien.vn/wp-content/uploads/2019/08/DSC09279.jpg&quot;) center center / cover;">
                        </div>
                    </div>
                    <div class="w60 pl15 vat">
                        <div class="fs11 fwb fs11-xs lh15">Gần 5 tạ cá Coi được thả tại Hồ Quan Âm Tam Diện</div>
                        <div class="grid">
                            <div class="fs085 c9 pb10 mr3">Lạc Hồng Viên -</div>
                            <div class="fs085 c9 pb10">08:35:18 22/08/2019</div>
                        </div>
                        <div class="fs1 dn-xs" style="text-align:justify">
                            Gần 5 tạ cá Coi được thả tại Hồ Quan Âm Tam
                            Diện Để đảm bảo hài hòa cho hệ sinh thái của
                        </div>
                    </div>
                </a>
            </div>
            <div class="phântrang pt25 grid tac">
                <div class="ptb5 trangtruoc bấmĐc plr5 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3">
                    <o class="iIcon ffi usn bra3 tac fsn fs1">keyboard_arrow_left</o>
                </div>
                <div class="dautien grid">
                    <a href="/c/4625/Lac-Hong-Vien/page1" id="1"
                       class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mlr3 bg1 cf" stt="1">1</a>
                </div>
                <div class="giua grid">
                    <a href="/c/4625/Lac-Hong-Vien/page2" id="2"
                       class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3" stt="2">2</a><a href="/c/4625/Lac-Hong-Vien/page3" id="3"
                                                                                                       class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="3">3</a><a href="/c/4625/Lac-Hong-Vien/page4" id="4"
                                                                                                                                                                                             class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="4">4</a><a href="/c/4625/Lac-Hong-Vien/page5" id="5"
                                                                                                                                                                                                                                                                                   class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="5">5</a><a href="/c/4625/Lac-Hong-Vien/page6" id="6"
                                                                                                                                                                                                                                                                                                                                                                         class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="6">6</a><a href="/c/4625/Lac-Hong-Vien/page7" id="7"
                                                                                                                                                                                                                                                                                                                                                                                                                                                               class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="7">7</a><a href="/c/4625/Lac-Hong-Vien/page8" id="8"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="8">8</a><a href="/c/4625/Lac-Hong-Vien/page9" id="9"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="9">9</a><a href="/c/4625/Lac-Hong-Vien/page10" id="10"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="10">10</a><a href="/c/4625/Lac-Hong-Vien/page11" id="11"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         class="bấmĐc trangtin dn pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 dn" stt="11">11</a>
                </div>
                <div class="ogiua pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3">...</div>
                <div class="cuoicung grid">
                    <a href="/c/4625/Lac-Hong-Vien/page12" id="12"
                       class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3" stt="12">12</a>
                </div>
                <div class="ptb5 trangsau bấmĐc plr5 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3">
                    <o class="iIcon ffi usn bra3 tac fsn fs1">keyboard_arrow_right</o>
                </div>
            </div>
        </div>
        <div class="vmlq col-md-4 col-sm-4 col-xs-12 fni tac vat pr dib">
            <div class="phầnfix">
                <div class="pb169 bgsc bgpc bgrn pr" style="background-image: url(&quot;/img/toancanh.jpg&quot;);">
                </div>
                <div class="">
                    <div class="grid tac mc1 fs12 fs09-xs pt10 pb5">
                        <div class="bg1 cf w50 ptb5 brbl3 brtl3 tab bấmĐc">Tin đọc nhiều nhất </div>
                        <div class="bgcfx c6 w50 ptb5 brtr3 brbr3 tab bấmĐc">Danh mục liên quan </div>
                    </div>
                    <div class="tal">
                        <div class="">
                            <a href="/a/49736/cac-ngay-le-dac-biet-tai-chua-Kim-Son-Lac-Hong-nam-2020"
                               class="grid ptb10 db">
                                <div class="w30">
                                    <div class="w1 pb169 bấmĐc"
                                         style="background: url(&quot;https://cdn.inevn.com/img/thumb/43890.500x.isij&quot;) center center / cover;">
                                    </div>
                                </div>
                                <div class="w70 plr10 vat oh bấmĐc">
                                    <div class="fwb mc1h">
                                        Lịch tổ chức các ngày lễ đặc biệt tại chùa Kim Sơn Lạc Hồng
                                        năm 2020
                                    </div>
                                    <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 09/03/2020</div>
                                </div>
                            </a><a href="/a/47647/Xem-tuoi-boc-mo" class="grid ptb10 db">
                                <div class="w30">
                                    <div class="w1 pb169 bấmĐc"
                                         style="background: url(&quot;https://cdn.inevn.com/img/thumb/39355.500x.isij&quot;) center center / cover;">
                                    </div>
                                </div>
                                <div class="w70 plr10 vat oh bấmĐc">
                                    <div class="fwb mc1h">Xem tuổi bốc mộ</div>
                                    <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 31/12/2019</div>
                                </div>
                            </a><a href="/a/46475/Xe-tham-quan-mien-phi-len-Cong-vien-Tam-linh-Lac-hong-Vien"
                                   class="grid ptb10 db">
                                <div class="w30">
                                    <div class="w1 pb169 bấmĐc"
                                         style="background: url(&quot;http://lachongvien.vn/wp-content/uploads/2017/05/xe%20dua%20don%20khac%20tham%20quan.jpg&quot;) center center / cover;">
                                    </div>
                                </div>
                                <div class="w70 plr10 vat oh bấmĐc">
                                    <div class="fwb mc1h">
                                        Xe thăm quan miễn phí lên Công viên Tâm linh Lạc hồng Viên
                                    </div>
                                    <div class="pt5 c6 grid fs09">Lạc Hồng Viên - 29/05/2017</div>
                                </div>
                            </a>
                        </div>
                        <div class="dn">
                            <a href="/c/4628/The-gioi-tam-linh"
                               class="vat oh bấmĐc c6 bra3 tduh ptb10 bgcfx mtb10 fs11 fs09-xs db pl10">
                                <div>Thế giới tâm linh</div>
                            </a><a href="/c/4629/Bao-chi-noi-ve-Lac-Hong-Vien"
                                   class="vat oh bấmĐc c6 bra3 tduh ptb10 bgcfx mtb10 fs11 fs09-xs db pl10">
                                <div>Báo chí nói về Lạc Hồng Viên</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

