
@{
    ViewData["Title"] = "ThuVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="body" class="bgcf">
        <div class="w90 mlra tac">
            <div class="ttu ptb10 fs2 c9 fs12-xs pt25 tac">thư viện ảnh &amp; video lạc hồng viên</div>
            <div class="divider green"></div>
            <div class="grid tac ">
                <div id="btn-img" class="bra3 dib col-md-3 col-ms-3 col-xs-6 fni plr15 ptb10 fs15 fs09-xs bấmĐc tabthưviện bg1 cf">
                    Thư viện ảnh
                </div>
                <div id="btn-video" class="bra3 dib col-md-3 col-ms-3 col-xs-6 fni plr15 ptb10 fs15 fs09-xs bấmĐc tabthưviện bgcd mc1">
                    Thư
                    viện video
                </div>
                @*<a href="#tvVideo">

                </a>*@

            </div>
            <div class="ptb25">
                <div id="tvAnh" class="grid tal pr">
                    <div class="hienbai w1 grid">
                        <a href="/v/1020816/Lac-Hong-Vien-thang-2-2020" id="1020816"
                           class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/44242.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 2/2020
                                </div>
                            </div>
                        </a><a href="/v/1010768/Lac-Hong-Vien-thang-1-nam-2020" id="1010768"
                               class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/42835.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 1 năm
                                    2020
                                </div>
                            </div>
                        </a><a href="/v/1010628/Lac-Hong-Vien-thang-12-2019" id="1010628"
                               class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/40948.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 12/2019
                                </div>
                            </div>
                        </a><a href="/v/1010627/Lac-Hong-Vien-thang-11-2019" id="1010627"
                               class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/40919.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 11/2019
                                </div>
                            </div>
                        </a><a href="/v/1010626/Lac-Hong-Vien-thang-10-2019" id="1010626"
                               class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/40909.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 10/2019
                                </div>
                            </div>
                        </a><a href="/v/1010625/Lac-Hong-Vien-thang-9-2019" id="1010625"
                               class=" col-md-4 col-sm-4 col-xs-12 fni bấmĐc pa15">
                            <div class="pr">
                                <div class="w1 pb43 bgcd shineh "
                                     style="background: url(&quot;https://cdn.inevn.com/img/thumb/40868.500x.isij&quot;) center center / cover;">
                                </div>
                                <div class="pa b0 l0 w1 ptb15 pl10 fs09-xs fs1 cf bgc06 bấmĐc">
                                    Lạc Hồng Viên tháng 9/2019
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="phântrang pt25 tac grid w1">
                        <div class="ptb5 trangtruoc bấmĐc plr5 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 bgcf">
                            <o class="iIcon ffi usn bra3 tac fsn fs1">keyboard_arrow_left</o>
                        </div><a href="/c/4598/Thu-vien/page1" id="1"
                                 class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mlr3 caidau bg1 cf" stt="1">1</a>
                        <div class="giua grid bgcf mc1">
                            <a href="/c/4598/Thu-vien/page2" id="2"
                               class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3" stt="2">2</a><a href="/c/4598/Thu-vien/page3" id="3"
                                                                                                               class="bấmĐc trangtin pa10 bra3 fs1 dn bss bcd bw1 bgcfx mc1 mlr3" stt="3">3</a><a href="/c/4598/Thu-vien/page4" id="4"
                                                                                                                                                                                                  class="bấmĐc trangtin pa10 bra3 fs1 dn bss bcd bw1 bgcfx mc1 mlr3" stt="4">4</a><a href="/c/4598/Thu-vien/page5" id="5"
                                                                                                                                                                                                                                                                                     class="bấmĐc trangtin pa10 bra3 fs1 dn bss bcd bw1 bgcfx mc1 mlr3" stt="5">5</a>
                        </div>
                        <div class="ogiua pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 bgcf">...</div><a href="/c/4598/Thu-vien/page6" id="6"
                                                                                                     class="bấmĐc trangtin pa10 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 caicuoi bgcf" stt="6">6</a>
                        <div class="ptb5 trangsau bấmĐc plr5 bra3 fs1 bss bcd bw1 bgcfx mc1 mlr3 bgcf">
                            <o class="iIcon ffi usn bra3 tac fsn fs1">keyboard_arrow_right</o>
                        </div>
                    </div>
                </div>
                <div id="tvVideo" class="">
                    <div class="fni tal videoxem grid" style="">
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="Q2h5ngOtJYw">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i3.wp.com/i.ytimg.com/vi/Q2h5ngOtJYw/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="v-UgvU693wY">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i1.wp.com/i.ytimg.com/vi/v-UgvU693wY/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="k1B--sMi51c">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i0.wp.com/i.ytimg.com/vi/k1B--sMi51c/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="jkExYq-cNoU">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i1.wp.com/i.ytimg.com/vi/jkExYq-cNoU/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="3Zzs4nEx3g4">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i1.wp.com/i.ytimg.com/vi/3Zzs4nEx3g4/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="1CW0sISjuLw">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i3.wp.com/i.ytimg.com/vi/1CW0sISjuLw/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="ydvS-HIhHgU">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i1.wp.com/i.ytimg.com/vi/ydvS-HIhHgU/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="j7ZQGwCEBAc">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i3.wp.com/i.ytimg.com/vi/j7ZQGwCEBAc/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="9tQfBkWPgOA">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i1.wp.com/i.ytimg.com/vi/9tQfBkWPgOA/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 fni pa10 dib pr bấmĐc" id="csbkIQZieic">
                            <div class="denmo bgsc bgrn bgpc pb43"
                                 style="background-image: url(&quot;https://i0.wp.com/i.ytimg.com/vi/csbkIQZieic/0.jpg?w=50&amp;quality=100&quot;);">
                            </div>
                            <div class="wh1 pa t0 l0 pa10">
                                <div class="wh1 bgc03">
                                    <div class="wh1 pr">
                                        <div class="pa tl50 tt fs15">
                                            <o class="iIcon ffi usn bra3 tac fsn vam fs2 cd">play_circle_outline</o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="khungThôngBáo"></div>
    </div>

@section scripts{ 
    <script>
        $(".tabthưviện").on("click", function () {
            var t = $(this),
                p = t.parent(),
                ts = t.index();
           // console.log(ts==0);
            //t.sửaLớp("-c6,bg1,mc1,cf,-bgcd").siblings().sửaLớp("-bg1,-mc1,c6,-cf,bgcd");
            //cl(ts)
            //p.next().children().eq(ts).sửaLớp("-dn").siblings().sửaLớp("dn");
            if (ts == 0) {
              //  alert(2)
                $('#btn-img').addClass("bg1 cf")
                $('#btn-video').removeClass("bg1 cf").addClass("bgcd mc1")
                $('#tvAnh').show();
                $('#tvVideo').hide();
            }
            else {
                $('#btn-video').addClass("bg1 cf")
                $('#btn-img').removeClass("bg1 bgcd cf").addClass("bgcd mc1")
                $('#tvAnh').hide();
                $('#tvVideo').show();
            }
        })
    </script>
}