
.crdh:hover {
    color: darkred;
}

.mn1:hover > .mn2 {
    display: block;
}

.mn1:hover > .mn5 {
    color: #448a6f;
    transition: 1s
}

.mn3:hover {
    background: #84ceb1;
}

.dhv1:hover > .dhv2 {
    opacity: 1;
    transition: 1s;
}

.bgho:hover > .bgho1 {
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.zm:hover > .zm1 {
    transition: 1s;
    transform: scale(1.1);
}

.zum:hover {
    transition: 0.2s;
    transform: scale(1.3);
}

.t03s {
    transition: 0.2s;
}

.o1h:hover {
    opacity: 1;
    transition: 1s;
}

.bc1 {
    border-color: #198244;
}

/* //#51ab88 */
.zm:hover > .zm1 {
    transform: scale(1.1);
}

.denmo {
    background: rgba(0, 0, 0, 0.5);
}

.bcf5 {
    border-color: #f5f2f2;
}

.bfh:hover {
    background: #fff;
    color: #666;
}

/* .mn1:hover{color:#448a6f;transition:.6s} */
.ts13 {
    transform: scale(1.3);
}

.hetmo {
    opacity: 1;
    transition: 1s;
}

.lammo {
    opacity: 0;
    transition: .7s;
}

.mc1,
.mc1h:hover {
    color: #198244;
}

/* #469a79 */
.mc1i {
    color: #198244 !important;
}

.bong7 {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .7);
}

.divider {
    display: block;
    width: 80px;
    height: 2px;
    margin: 20px auto;
}

    .divider.green {
        margin-bottom: 35px;
        background-color: #51ab88;
        color: #51ab88;
    }

    .divider.white {
        margin-bottom: 35px;
        background-color: #fff;
        color: #fff;
    }

.t1s {
    transition: 1s;
}

.pl-10 {
    padding-left: -10%;
}

.nuth:hover {
    color: #fff;
    background: #198244;
}

/* #469a79 */
.nềnđỏ {
    background: #e70a33
}

.cđỏ {
    color: #e70a33
}

.nềnxanh {
    background: #3a79b8
}

.cxanh {
    color: #3a79b8
}

.nềnvàng {
    background: #e7b70a
}

.cvàng {
    color: #e7b70a
}

.nềncam {
    background: #e7840a
}

.ccam {
    color: #e7840a
}

.nềntím {
    background: #303f8c
}

.ctím {
    color: #303f8c
}

.ml-4 {
    margin-left: -4%;
}

.l-4 {
    left: -4%;
}

.r-4 {
    right: -4%;
}

.r5 {
    right: 5%;
}

.l5 {
    left: 5%;
}

.fs12vw {
    font-size: 1.2vw;
}

.clrh:hover {
    color: red;
}

.cbrown {
    color: brown;
}

.bgc06 {
    background-color: rgba(0, 0, 0, 0.6);
}

.lh8 {
    line-height: 80px;
}

.bg1cfh:hover {
    background: #198244;
    color: #fff;
}

/* #51ab88 */
.hai {
    height: auto !important;
}

.bgcsb {
    background: saddlebrown;
}

.animenu .animenuitem::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #198244;
    /* //#469a79 */
    transition: width .3s;
}

.animenu .animenuitem:hover::after {
    width: 100%;
}

.doimaumenu {
    color: #f9a36b;
}

/*Đây là css của giang nha*/
.bgc25 {
    background-color: #251e1e
}

.thêmHiệuỨng {
    transition: all .3s ease-in-out;
}

.thêmHiệuỨng {
    bottom: 0;
}

.sẽTo {
    transition: 0.3s ease-in-out
}

.zoom:hover .sẽTo {
    transform: scale(1.1);
}

.ass {
    align-self: stretch;
}

.tr:nth-child(odd) {
    background: #fff;
}

.tr:nth-child(even) {
    background: #ddd;
}

.bch:hover {
    border: 1px solid black;
}

/* img{
            -webkit-user-drag:none;
        } */
.cat-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*Bằng thêm css cho hương*/
.st1,
.st2 {
    /* stroke: red; */
    fill: #b8860b;
    animation-fill-mode: forwards;
    opacity: 1;
    animation: animate 30s linear;
    transform: scaleY(.4);
    transform-origin: center 70%;
}

.w300 {
    width: 300px;
}

.bgcdh:hover {
    background-color: #ddd;
}

@keyframes animate {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(.4);
    }
}

/*CSS của bằng*/
.cl11h:hover {
    color: #891111;
}

.cl11 {
    color: #891111;
}

.c1i {
    color: #111111 !important;
}

.hôha:hover {
    transform: scale(1.3, 1.3);
}

.rightTri {
    border-left: 10px solid #666;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

