<style>
    .w50 {
        width: 49%;
    }
    .w60 {
        width: 59%;
    }
</style>
<div id="footer" class="pr bt1 bss bcd" style="">
    <div class="pa w10 t0 l50 ttx mtb10 dn">
        <img class="w1"
             src="/img/logo_lhv.png">
    </div>
    <div class="pa l50 ttx dn"
         style="width: 0;height: 0;border-left: 30px solid transparent;border-right: 30px solid transparent;border-top: 30px solid #51ab88a4;">
    </div>
    <div class="">
        <div class="bgpt bgrn bgsc cb" >
            @*background-image: url(&quot;img/channen.jpg&quot;);*@
            <div class=" c6 ptb50" style="background:rgba(255,255,255,.8)">
                <div class="w85 mlra mb15 grid bss bb1 bcd">
                    <div class="w40 tac bss bcd br1 bss bcd br1 ">
                        <div class="w30 mlra">
                            <img class="w1"
                                 src="/img/logo_lhv.png">
                        </div>
                        <div class="ttu fs13 mc1 pt10" style="color:#7599e7">lạc hồng viên</div>
                    </div>
                    <div class=" plr25 w60">
                        <div class="fs11 ttu c6">Đăng ký nhận tin</div>
                        <div class="fs09 pt15 dn-xs">
                            Vui lòng nhập thông tin của bạn để nhận thông tin mới nhất
                            từ chúng tôi
                        </div>
                        <div class="w1 df pt3 pb15">
                            <input class="w60 bgcf bss bcd bw1 brtl5 brbl5 bgcyl emailnhan"
                                   placeholder="Vui lòng nhập email">
                            <div class="ptb10 plr15 bg1 cf ttu fs12 brbr5 brtr5 bấmĐc">Đăng ký</div>
                        </div>
                    </div>
                </div>
                <div class="w85 mlra grid df ">
                    <div class="w40 pr10 vat tal bss bcd br1">
                        <div class="  ttu mc1 lh1 fs15">Chủ đầu tư</div>
                        <div class=" mtb10 ttu fs11 fs09-xs mc1">
                            Công ty Cổ phần Đầu tư XD &amp; TM Toàn Cầu
                        </div>
                        <div class=" mtb10">
                            <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>Trụ sở: Số 683 Lạc Long Quân
                            - Phú Thượng - Tây Hồ - Hà Nội
                        </div>
                        <div class=" mtb10 bb1 bcd bss pb25">
                            <o class="iIcon ffi usn bra3 tac fsn vam mr02">call</o>Điện thoại:(84-24) 3787 6468
                            / 3787 6968 - Fax: (84-24) 3787 6466
                        </div>
                        <div class="fs12 ttu mt25">Đơn vị Quản lý, Khai thác và Dịch vụ</div>
                        <div class=" mtb10">
                            Chi nhánh công ty CP đầu tư XD &amp; TM TOÀN CẦU - LẠC HỒNG VIÊN
                        </div>
                        <div class=" mtb10">
                            <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>Địa chỉ: Thôn Tân Lập, xã Dân
                            Hòa, huyện Kỳ Sơn, tỉnh Hòa Bình
                        </div>
                    </div>
                    <div class="w60 pl10 vat tal">
                        <div class="grid">
                            <div class="w50 plr10 mb15 vat">
                                <div class=" fs1 mb5 c6">VĂN PHÒNG 34 GIANG VĂN MINH</div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>
                                    <c class="dib">Tầng 4 tòa nhà SHB</c>, <c class="dib"> Giang Văn Minh</c>,
                                    <c class="dib"> Ba Đình</c>, <c class="dib"> Hà Nội.</c>
                                </div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">call</o>Hotline: 0911 61 68
                                    68
                                </div>
                                <div class=" pl10 mtb5">KD: 0243.999.2688</div>
                            </div>
                            <div class="w50 plr10 mb15 vat">
                                <div class=" fs1 mb5 c6">VĂN PHÒNG 85 NGUYỄN DU</div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>
                                    <c class="dib">Số 85 Nguyễn Du</c>, <c class="dib"> Hai Bà Trưng</c>, <c class="dib"> Hà Nội.</c>
                                </div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">call</o>Hotline : 0911 61 68
                                    68
                                </div>
                                <div class=" pl10 mtb5">KD: 0243.999.2688</div>
                            </div>
                            <div class="w50 plr10 mb15 vat">
                                <div class=" fs1 mb5 c6">VĂN PHÒNG NGUYỄN HOÀNG</div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>
                                    <c class="dib">Số 35 Nguyễn Hoàng</c>, <c class="dib"> Mỹ Đình</c>, <c class="dib"> Nam Từ Liêm</c>, <c class="dib"> Hà Nội.</c>
                                </div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">call</o>Hotline: 0911 61 68
                                    68
                                </div>
                                <div class=" pl10 mtb5">KD: 0243.999.2688</div>
                            </div>
                            <div class="w50 plr10 mb15 vat">
                                <div class=" fs1 mb5 c6">VĂN PHÒNG YÊN LÃNG</div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">room</o>
                                    <c class="dib">Số 26 Yên Lãng</c>, <c class="dib"> Láng Hạ</c>, <c class="dib"> Đống Đa</c>, <c class="dib"> Hà Nội.</c>
                                </div>
                                <div class=" mtb5">
                                    <o class="iIcon ffi usn bra3 tac fsn vam mr02">call</o>Hotline 0911 61 68 68
                                </div>
                                <div class=" pl10 mtb5">KD: 0243.999.2688</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tac ptb15 lh15 fs12 fs09-xs cf"
         style="color: rgb(25, 130, 68); background: rgb(248, 248, 248);">
        Trang thông tin chính thức của Lạc Hồng
        Viên
    </div>
    <div class="tac ptb15 cf grid" style="background:#6d6969">
        <div class="">Copyright © 2019 Lạc Hồng Viên. Bảo trợ bởi</div><a class="cf ml3 tduh"
                                                                          href="https://inevn.com/" target="_blank">I&amp;E Corp</a>
    </div>
</div>