@model WebAppBasite.Models.ViewModel.HomeViewModels
<div class="psi t0 l0 z9">
    <div id="menu-dt1" class="ptb15 grid pr bóng z9 bgcf dn ps t0 l0" style="">
        <a href="/"
           class="db tal pl10">
            <div class="dib w25">
                <img class="w1 mlra" src="~/img/logo_lhv1.png">
            </div>
            <div class="fs11  mc1 lh1 dib c9 mt3 vab wsn ttu pl3 bl2 bc1 bss mc1" style="margin-bottom:-1px">
                Lạc Hồng Viên
            </div>
        </a>
        <div class="pa t50 tty r0 mr10 grid">
            <div class="fs15 mr15 mc1 dn">
                <o class="iIcon ffi usn bra3 tac fsn">exit_to_app</o>
            </div>
            <div class="fs15 mr15 mc1 loginicon">
                <o class="iIcon ffi usn bra3 tac fsn">account_circle</o>
            </div>
            <div class="mr10 fs2 mc1 3que">
                <o class="iIcon ffi usn bra3 tac fsn">dehaze</o>
            </div>
        </div>
    </div>
    <div class="pf t0 l0 wh1 dn z9 bgc03" id="menu-dt">
        <div id="menudoc" class="w75 pa h1 r0 oh oxy oa bgcfx pr">
            <div class="pa b0 l0 ma25 btn dib cf bg1 ptb10 plr15 mt25 bn bra5">Đóng</div>
            <div class="pr"
                 style="background-image: url(&quot;/image/bgmn.jpg&quot;); background-size: cover; padding: 65px 0px;">
                <div class="pa t0 l0 b0 r0" style="background: rgba(1, 35, 1, 0.41);"></div>
                <div class="pa t0 r0 fs15 tar pr10 ptb5 cf">
                    <o class="iIcon ffi usn bra3 tac fsn">close</o>
                </div>
                <div class="grid tac plr15">
                    <div class="pr w1">
                        <input class="db bra5 w1" placeholder="Nhập nội dung tìm kiếm">
                        <div class="pa t50 r0 tty pr10">
                            <o class="iIcon ffi usn bra3 tac fsn vam">search</o>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt10 plr15">
                <a href="https://lachongvien.vn/"
                   class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Trang chủ</a><a href="https://lachongvien.vn/c/4593/Gioi-thieu"
                                                                                    class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Giới thiệu</a><a href="https://lachongvien.vn/c/4594/Dich-vu"
                                                                                                                                                      class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Dịch vụ</a><a href="https://lachongvien.vn/c/4595/Mau-mo"
                                                                                                                                                                                                                     class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Mẫu mộ</a>
                <div>
                    <div class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb mrht df jcsb">
                        <div>Tin tức</div>
                        <o class="iIcon ffi usn bra3 tac fsn fs14 plr5">keyboard_arrow_down</o>
                    </div>
                    <div class="w1 dn">
                        <a href="https://lachongvien.vn/c/4625/Lac-Hong-Vien"
                           class="db pl25 ptb15 bấmĐc mc1 fwb" id="4625">
                            <o class="iIcon ffi usn bra3 tac fsn mr7 fs08">layers</o>Lạc Hồng Viên
                        </a><a href="https://lachongvien.vn/c/4628/The-gioi-tam-linh"
                               class="db pl25 ptb15 bấmĐc mc1 fwb" id="4628">
                            <o class="iIcon ffi usn bra3 tac fsn mr7 fs08">layers</o>Thế giới tâm linh
                        </a><a href="https://lachongvien.vn/c/4629/Bao-chi-noi-ve-Lac-Hong-Vien"
                               class="db pl25 ptb15 bấmĐc mc1 fwb" id="4629">
                            <o class="iIcon ffi usn bra3 tac fsn mr7 fs08">layers</o>Báo chí nói về Lạc Hồng
                            Viên
                        </a>
                    </div>
                </div><a href="https://lachongvien.vn/c/4598/Thu-vien"
                         class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Thư viện</a><a href="https://lachongvien.vn/c/4599/Cung-gio-online"
                                                                                         class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb dn">Cúng giỗ online</a>
                <div class="db plr10 ptb15 bấmĐc mc1 bb1 bss bc3 fwb">Liên hệ</div>
            </div>
        </div>
    </div>
    <div class="df pr bgcf bóng col-md-12 col-sm-12 col-xs-0 fni" id="menu">
        <div class="wh1 o03 bgso bgpc bgrn bgcf" style="height:80px"></div>
        <div class="pa w1 z1 cb">
            <div class="w90 mlra grid df">
                <a href="/"
                   class="col-sm-1 col-md-2 fni ptb3 tac">
                    <img class=" db mlra" src="~/img/logo_lhv1.png" style="width: 120px; height: 50px;">
                    <h1 class="fs08 c9 wsn fwb" style="color: #7599e7">Lạc Hồng Viên</h1>
                </a>
                <div class="col-md-11 col-sm-11 fni grid tar fs11">
                    <div class="animenu grid pr">
                        <a href="https://lachongvien.vn/"
                           class="animenuitem plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb"
                           style="line-height:30px">Trang chủ</a>
                        <a href="/Post/PostCatalog" class="animenuitem menucx plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb" id="4593" style="line-height:30px">Giới thiệu</a>
                       
                        <div class="mn_cha menucx plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb" id="4597"
                             style="line-height:80px">
                                    Tin tức
                                 <div class="mn2 pa z3 bg1 cf dn" id="4597">
                                <a href="https://lachongvien.vn/c/4625/Lac-Hong-Vien"
                                   class="mn_con plr10 bấmĐc wsn mn3 tal ptb10 lh1 db fwb" id="4625">
                                    Lạc Hồng
                                    Viên
                                </a>
                            </div>
                        </div>
                        <a href="https://lachongvien.vn/c/4598/Thu-vien"
                                 class="animenuitem menucx plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb" id="4598"
                                 style="line-height:30px">Thư viện</a>
                        <div class="mn_cha menucx plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb" id="4599" style="line-height:80px">
                            Cúng giỗ online
                            <div class="mn2 pa z3 bg1 cf dn">
                                <a href="https://lachongvien.vn/c/4599/Cung-gio-online" class="mn_con pl10 bấmĐc wsn mn3 tal ptb10 lh1 db fwb" style="padding-right:70px">Cúng giỗ &amp; Đặt giỗ</a>
                                <div href="" class="mn_con pl10 bấmĐc wsn mn3 tal ptb10 lh1 db fwb" style="padding-right:70px">Đặt gói giỗ</div>
                            </div>
                        </div>
                        <div class="animenuitem menucx plr15 bấmĐc mc1 mn5 vam bấmĐc mn1 fwb" id="4600" style="line-height:30px">Liên hệ</div>
                    </div>
                    <div href="/search" class="fs12 mc1 bấmĐc pr">
                        <o class="iIcon ffi usn bra3 tac fsn lh8 fwb">search</o>
                        <div class="pa r0 tac ptb15 grid brbl3 brbr3 bgc03 w5 w10 plr10 dn otimkiem"
                             style="width:200px">
                            <input class="brtl3 brbl3 w80 fs08 bgcf bcd bss bw1 cantim">
                            <div href="/search" class="lh1 cf bg1 brtr3 brbr3 pa5 bt1 bss bc1 tim">
                                <o class="iIcon ffi usn bra3 tac fsn fs08">search</o>
                            </div>
                            <div class="pt10 cf w1">
                                <div class="tac">
                                    <o class="iIcon ffi usn bra3 tac fsn fs1">close</o>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fs12 fwb mc1 plr15 bấmĐc">
                        <o class="iIcon ffi usn bra3 tac fsn">account_circle</o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>