<div class="pf z5 cf phuluc  t50 tty r0">
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen o0 t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div class="wsn mc1 fs12">0911 61 68 68</div>
        </div><a href="tel:+84911616868" target="_blank" class="tac bấmĐc db  zum t03s bra50 pa10 bóng mr7 bg1">
            <div class="fs15">
                <o class="iIcon ffi usn bra3 tac fsn vam">phone</o>
            </div>
        </a>
    </div>
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen o0 t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div>
                <script src="" gapi_processed="true"></script>
                <div style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 174px; height: 48px;"
                     id="___ytsubscribe_0">
                    <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0"
                            marginwidth="0" scrolling="no"
                            style="position: static; top: 0px; width: 174px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 48px;"
                            tabindex="0" vspace="0" width="100%" id="I0_1586921803614" name="I0_1586921803614"
                            src="https://www.youtube.com/subscribe_embed?usegapi=1&channelid=UCt54UXv9LmF1YHk2h-UdIHg&layout=full&count=default&origin=https%3A%2F%2Flachongvien.vn&gsrc=3p&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.DtzhdWmvhnw.O%2Fam%3DwQE%2Fd%3D1%2Fct%3Dzgms%2Frs%3DAGLTcCOzuziO_jsrgN7qOV0LnXMJRFUjVg%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I0_1586940013206&_gfid=I0_1586940013206&parent=https%3A%2F%2Flachongvien.vn&pfname=&rpctoken=40568585"
                            data-gapiattached="true"></iframe>
                </div>
            </div>
        </div><a href="https://www.youtube.com/lachongvientv" target="_blank"
                 class="tac bấmĐc db  zum t03s bra50 pa10 bóng mr7 nềnđỏ">
            <div class="fs15 bgsc bra50 bgrn bgpc"
                 style=" width: 21px; height: 21px; background-image: url('/img/youtube.png');"></div>
        </a>
    </div>
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen dn t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div>
                <div class="fb-page fb_iframe_widget"
                     data-href="https://www.facebook.com/congvientamlinhlachongvien/" data-height="100"
                     data-width="250" data-small-header="false" data-adapt-container-width="false"
                     data-hide-cover="false" data-show-facepile="false" data-show-posts="false"
                     fb-xfbml-state="rendered"
                     fb-iframe-plugin-query="adapt_container_width=false&amp;app_id=118035745195680&amp;container_width=0&amp;height=100&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcongvientamlinhlachongvien%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;small_header=false&amp;width=250">
                    <span style="vertical-align: bottom; width: 250px; height: 0px;">
                        <iframe name="f2882d7aacea82c" width="250px" height="100px"
                                data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                                frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                                allow="encrypted-media" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=false&app_id=118035745195680&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df2a2d5e46ba938c%26domain%3Dlachongvien.vn%26origin%3Dhttps%253A%252F%252Flachongvien.vn%252Ff3b94c6285899fc%26relation%3Dparent.parent&container_width=0&height=100&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Fcongvientamlinhlachongvien%2F&locale=en_GB&sdk=joey&show_facepile=false&show_posts=false&small_header=false&width=250"
                                style="border: none; visibility: visible; width: 250px; height: 0px;"
                                class=""></iframe>
                    </span>
                </div>
                <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=118035745195680"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "facebook-jssdk"));</script>
            </div>
        </div><a href="https://www.facebook.com/congvientamlinhlachongvien/" target="_blank"
                 class="tac bấmĐc db  zum t03s bra50 pa10 bóng mr7 nềnxanh">
            <div class="fs15 bgso bgrn bgpc"
                 style="width: 21px; height: 21px; background-image: url(&quot;/img/facebook.png&quot;);"></div>
        </a>
    </div>
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen o0 t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div class="wsn mc1 fs12">Tư vấn trực tiếp</div>
        </div>
        <div class="tac bấmĐc  zum t03s bra50 pa10 bóng mr7 nềncam">
            <div class="fs15">
                <o class="iIcon ffi usn bra3 tac fsn vam">question_answer</o>
            </div>
        </div>
    </div>
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen o0 t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div class="wsn mc1 fs12">Bản đồ</div>
        </div>
        <div class="tac bấmĐc  zum t03s bra50 pa10 bóng mr7 nềntím">
            <div class="fs15">
                <o class="iIcon ffi usn bra3 tac fsn vam">room</o>
            </div>
        </div>
    </div>
    <div class="grid pr w20 tac mtb15">
        <div class="pa10 bgcf pa pen o0 t50 tty mr10 bss bcd bw1 dn-xs" style="right:100%">
            <div class="wsn mc1 fs12">Giỏ hàng</div>
        </div>
        <div class="tac bấmĐc db giỏHàng  zum t03s bra50 pa10 bóng mr7 bgcf cbrown">
            <div class="fs15">
                <o class="iIcon ffi usn bra3 tac fsn vam">shopping_cart</o>
            </div>
        </div>
    </div>
</div>
<div class="pf b0 r0 pa10 bra50 bóng bg1 z5 cf dautrang tac bấmĐc" style="margin: 0px 7px 50px 0px ">
    <div class="fs15">
        <o class="iIcon ffi usn bra3 tac fsn vam">expand_less</o>
    </div>
</div>